<mat-card class="card">
    <a>
        <mat-card-content fxLayout="column">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
            alt="Photo of a Shiba Inu" 
            class="card-content picture">
            <div class="card-content price">10€</div>
            <div class="card-content text">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </div>
        </mat-card-content>
    </a>
  </mat-card>